<?xml version="1.0"?>


 <launch>
   <arg name="use_ground_truth_for_tf" default="true" />

   <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch" >
     <arg name="model" value="$(find hector_quadrotor_urdf)/urdf/quadrotor_hokuyo_utm30lx.urdf.xacro"/>
     <arg name="use_ground_truth_for_tf" value="$(arg use_ground_truth_for_tf)" />
   </include>
   
   <include file="$(find hector_slam_launch)/launch/tutorial.launch" />
   <param name="quadrotor_tf/frame_id" value="nav" />
 </launch>
