<?xml version="1.0"?>

<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
  xmlns:xacro="http://ros.org/wiki/xacro"
  >  
    <xacro:macro name="hokuyo_utm30lx" params="name parent *origin ros_topic update_rate min_angle max_angle">
      <joint name="${name}_joint" type="fixed">
	<axis xyz="0 1 0" />
	<insert_block name="origin" />
	<parent link="${parent}"/>
	<child link="${name}_link"/>
      </joint>
      <link name="${name}_link" type="laser">
	<inertial>
	  <mass value="0.001" />
	  <origin xyz="0 0 0" rpy="0 0 0" />
	  <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.000001" iyz="0" izz="0.0001" />
	</inertial>
	<visual>
	  <origin xyz="0 0 0" rpy="0 0 0" />
	  <geometry>
	    <box size="0.05 0.05 0.05" />
	  </geometry>
	  <material name="DarkGrey" />
	</visual>
	<collision>
	  <origin xyz="0 0 0" rpy="0 0 0" />
	  <geometry>
	    <box size=".05 .05 .05" />
	  </geometry>
	</collision>
      </link>
      
      <gazebo reference="${name}_link">
	<sensor:ray name="${name}">
	  <rayCount>640</rayCount>
	  <rangeCount>640</rangeCount>
	  <laserCount>1</laserCount>
	  
	  <origin>0.0 0.0 0.0</origin>
	  <displayRays>false</displayRays>
	  
	  <minAngle>${min_angle}</minAngle>
	  <maxAngle>${max_angle}</maxAngle>
	  
	  <minRange>0.05</minRange>
	  <maxRange>30.0</maxRange>
	  <resRange>0.01</resRange>
	  <updateRate>${update_rate}</updateRate>
	  <controller:gazebo_ros_laser name="gazebo_ros_${name}_controller" plugin="libgazebo_ros_laser.so">
	    <gaussianNoise>0.005</gaussianNoise>
	    <alwaysOn>true</alwaysOn>
	    <updateRate>${update_rate}</updateRate>
	    <topicName>${ros_topic}</topicName>
	    <frameName>/${name}_link</frameName>
	    <interface:laser name="gazebo_ros_${name}_iface" />
	  </controller:gazebo_ros_laser>
	</sensor:ray>
      </gazebo>
    </xacro:macro>
  </robot>
  