<?xml version="1.0"?>

<robot
  name="quadrotor"
  xmlns:xacro="http://ros.org/wiki/xacro"
>

    <!-- Included URDF Files -->
    <xacro:include filename="$(find hector_quadrotor_urdf)/urdf/quadrotor_base.urdf.xacro" />
    
    <!-- Instantiate quadrotor_base_macro once (has no parameters atm) -->
    <xacro:quadrotor_base_macro />

</robot>
