<?xml version="1.0"?>

<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
xmlns:xacro="http://ros.org/wiki/xacro"
>

  <include filename="$(find hector_sensors_description)/urdf/sonar_sensor.urdf.xacro" />
  <property name="pi" value="3.1415926535897931" />

  <!-- Main quadrotor link -->
  <xacro:macro name="quadrotor_base_macro">
    <link name="base_link">
      <inertial>
        <mass value="1.316" />
        <origin xyz="0 0 0" />
        <inertia ixx="0.0128" ixy="0.0" ixz="0.0" iyy="0.0128" iyz="0.0" izz="0.0218" />
      </inertial>

      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://hector_quadrotor_urdf/meshes/quadrotor/quadrotor_base.dae"/>
        </geometry>
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://hector_quadrotor_urdf/meshes/quadrotor/quadrotor_base.stl"/>
        </geometry>
      </collision>
    </link>
    
    <!-- Sonar height sensor -->
    <sonar_sensor name="sonar" parent="base_link" ros_topic="sonar_height" update_rate="10" min_range="0.03" max_range="3.0" field_of_view="40" ray_count="3">
      <origin xyz="0.12 0.0 -0.012" rpy="0 ${90*pi/180} 0"/>
    </sonar_sensor>

    <gazebo reference="base_link">
      <turnGravityOff>false</turnGravityOff>
    </gazebo>

    <!-- Gazebo Plugins -->
    <gazebo>
      <canonicalBody>base_link</canonicalBody>

      <controller:gazebo_ros_force name="gazebo_ros_force" plugin="libgazebo_ros_force.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>0.0</updateRate>
        <bodyName>base_link</bodyName>
        <topicName>force</topicName>
      </controller:gazebo_ros_force>

      <controller:hector_gazebo_quadrotor_simple_controller name="quadrotor_simple_controller" plugin="libhector_gazebo_quadrotor_simple_controller.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>0.0</updateRate>
        <bodyName>base_link</bodyName>
        <!--
          <stateTopic>ground_truth/state</stateTopic>
          <imuTopic>raw_imu</imuTopic>
        -->
        <topicName>cmd_vel</topicName>
        <rollpitch>
          <proportionalGain>10.0</proportionalGain>
          <differentialGain>5.0</differentialGain>
          <limit>0.5</limit>
        </rollpitch>
        <yaw>
          <proportionalGain>2.0</proportionalGain>
          <differentialGain>1.0</differentialGain>
          <limit>1.5</limit>
        </yaw>
        <velocity_xy>
          <proportionalGain>5.0</proportionalGain>
          <differentialGain>1.0</differentialGain>
          <limit>2</limit>
        </velocity_xy>
        <velocity_z>
          <proportionalGain>5.0</proportionalGain>
          <differentialGain>1.0</differentialGain>
          <limit>2</limit>
        </velocity_z>
        <maxForce>30</maxForce>
      </controller:hector_gazebo_quadrotor_simple_controller>

      <controller:hector_gazebo_ros_imu name="quadrotor_imu_sim" plugin="libhector_gazebo_ros_imu.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>100.0</updateRate>
        <bodyName>base_link</bodyName>
        <topicName>raw_imu</topicName>
        <rpyOffsets>0 0 0</rpyOffsets> <!-- deprecated -->
        <gaussianNoise>0</gaussianNoise>  <!-- deprecated -->
        <accelDrift>0.5 0.5 0.5</accelDrift>
        <accelGaussianNoise>0.1 0.1 0.1</accelGaussianNoise>
        <rateDrift>0.1 0.1 0.1</rateDrift>
        <rateGaussianNoise>0.05 0.05 0.05</rateGaussianNoise>
        <headingDrift>0.1</headingDrift>
        <headingGaussianNoise>0.05</headingGaussianNoise>
      </controller:hector_gazebo_ros_imu>

      <controller:hector_gazebo_ros_baro name="quadrotor_baro_sim" plugin="libhector_gazebo_ros_baro.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>10.0</updateRate>
        <bodyName>base_link</bodyName>
        <topicName>pressure_height</topicName>
        <offset>0</offset>
        <drift>0.1</drift>
        <gaussianNoise>0.1</gaussianNoise>
      </controller:hector_gazebo_ros_baro>

      <controller:hector_gazebo_ros_magnetic name="quadrotor_magnetic_sim" plugin="libhector_gazebo_ros_magnetic.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>10.0</updateRate>
        <bodyName>base_link</bodyName>
        <topicName>magnetic</topicName>
        <offset>0 0 0</offset>
        <drift>0.1 0.1 0.1</drift>
        <gaussianNoise>0.1 0.1 0.1</gaussianNoise>
      </controller:hector_gazebo_ros_magnetic>

      <controller:hector_gazebo_ros_gps name="quadrotor_gps_sim" plugin="libhector_gazebo_ros_gps.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>4.0</updateRate>
        <bodyName>base_link</bodyName>
        <topicName>fix</topicName>
        <velocityTopicName>gps_velocity</velocityTopicName>
        <drift>5.0 5.0 5.0</drift>
        <gaussianNoise>0.1 0.1 0.1</gaussianNoise>
        <velocityDrift>0 0 0</velocityDrift>
        <velocityGaussianNoise>0.1 0.1 0.1</velocityGaussianNoise>
      </controller:hector_gazebo_ros_gps>

      <controller:gazebo_ros_p3d name="quadrotor_groundtruth_sim" plugin="libgazebo_ros_p3d.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>100.0</updateRate>
        <bodyName>base_link</bodyName>
        <topicName>ground_truth/state</topicName>
        <gaussianNoise>0.0</gaussianNoise>
        <frameName>map</frameName>
      </controller:gazebo_ros_p3d>
    </gazebo>

  </xacro:macro>
</robot>
