<?xml version="1.0"?>

<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
xmlns:xacro="http://ros.org/wiki/xacro"
>
  <xacro:macro name="sonar_sensor" params="name parent *origin ros_topic update_rate min_range max_range field_of_view ray_count">
    <joint name="${name}_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}"/>
      <child link="${name}_link"/>
    </joint>

    <link name="${name}_link">
      <inertial>
        <mass value="0.001" />
        <origin xyz="0 0 0" rpy="0 0 0" />
        <inertia ixx="0.000000017" ixy="0" ixz="0" iyy="0.000000017" iyz="0" izz="0.000000017" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="0.01 0.01 0.01" />
        </geometry>
        <material name="Red">
          <color rgba="0.8 0.0 0.0 1"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="0.01 0.01 0.01" />
        </geometry>
      </collision>
    </link>

    <gazebo reference="${name}_link">
      <sensor:ray name="${name}">
        <!-- displayRays>fan</displayRays -->

        <rayCount>${ray_count}</rayCount>
        <rangeCount>${ray_count}</rangeCount>
        <verticalRayCount>${ray_count}</verticalRayCount>
        <verticalRangeCount>${ray_count}</verticalRangeCount>

        <minAngle>-${field_of_view/2}</minAngle>
        <verticalMinAngle>-${field_of_view/2}</verticalMinAngle>
        <maxAngle>${field_of_view/2}</maxAngle>
        <verticalMaxAngle>${field_of_view/2}</verticalMaxAngle>

        <minRange>${min_range}</minRange>
        <maxRange>${max_range}</maxRange>
        <resRange>0.01</resRange>

        <updateRate>${update_rate}</updateRate>

        <controller:hector_gazebo_ros_sonar name="gazebo_ros_${name}_controller" plugin="libhector_gazebo_ros_sonar.so">
          <gaussianNoise>0.005</gaussianNoise>
          <alwaysOn>true</alwaysOn>
          <updateRate>${update_rate}</updateRate>
          <topicName>${ros_topic}</topicName>
          <frameName>/${name}_link</frameName>
        </controller:hector_gazebo_ros_sonar>
      </sensor:ray>
    </gazebo>
  </xacro:macro>
</robot>
