<?xml version="1.0"?>

<robot
xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
xmlns:xacro="http://ros.org/wiki/xacro"
>

  <!-- Quadrotor Model Based Navigation Plugin -->
  <xacro:macro name="model_based_navigation">
    <gazebo>
      <plugin name="model_based_navigation" filename="libgazebo_rtt_plugin.so">
        <updateRate>100.0</updateRate>
        <import>quadro</import>
        <component>Simulink</component>
        <property name="Model">$(find quadro)/simulink/MBN/RTWmodel_QK_SFSVD_ROS.so</property>

        <port name="raw_imu" queue_size="10" />
        <port name="magnetic" />
        <port name="altimeter" />
        <port name="fix" />
        <port name="fix_velocity" />
        <port name="motor_status" />
        <port name="state" topic="mbn/state" queue_size="10" />
        <port name="imu" topic="mbn/imu" queue_size="10" />
        <port name="log" topic="mbn/log" queue_size="10" />
      </plugin>
    </gazebo>
  </xacro:macro>
</robot>
