<?xml version="1.0"?>

<robot
xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
xmlns:xacro="http://ros.org/wiki/xacro"
>

  <!-- Quadrotor Controller Plugin -->
  <xacro:macro name="quadrotor_controller" params="state_topic imu_topic">
    <gazebo>
      <plugin name="quadrotor_controller" filename="libgazebo_rtt_plugin.so">
        <updateRate>100.0</updateRate>
        <import>quadro</import>
        <component>Controller</component>
        <configuration>$(find quadro)/conf/controller.cpf</configuration>

        <port name="sonar_height" />
        <port name="command_velocity" topic="cmd_vel" />
        <port name="state" topic="${state_topic}" queue_size="10" />
        <port name="imu" topic="${imu_topic}" queue_size="10" />
        <port name="motor_status" />
        <port name="motor_output" topic="motor_pwm" queue_size="10" />
        <port name="height" />
      </plugin>
    </gazebo>
  </xacro:macro>
</robot>
