<?xml version="1.0"?>

<robot
xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
xmlns:xacro="http://ros.org/wiki/xacro"
>

  <!-- Quadrotor Propulsion -->
  <xacro:macro name="quadrotor_propulsion">
    <gazebo>
      <plugin name="quadrotor_propulsion" filename="libhector_gazebo_quadrotor_propulsion.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>0.0</updateRate>
        <bodyName>base_link</bodyName>
        <controlRate>100.0</controlRate>
        <!-- <controlTolerance>0.01</controlTolerance> -->
        <controlDelay>0.01</controlDelay>
      </plugin>
    </gazebo>
  </xacro:macro>
</robot>

