<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Quadrotor Model Based Navigation Plugin -->
  <xacro:macro name="model_based_navigation">
    <gazebo>
      <plugin name="model_based_navigation" filename="libgazebo_rtt_plugin.so">
        <updateRate>100.0</updateRate>
        <import>quadro</import>
        <component>Simulink</component>
        <property name="Model">$(find quadro)/simulink/MBN/RTWmodel_QK_SFSVD_ROS.so</property>

        <port><name>raw_imu</name><queue_size>10</queue_size></port>
        <port><name>magnetic</name></port>
        <port><name>altimeter</name></port>
        <port><name>fix</name></port>
        <port><name>fix_velocity</name></port>
        <port><name>motor_status</name></port>
        <port><name>state</name><topic>mbn/state</topic><queue_size>10</queue_size></port>
        <port><name>imu</name><topic>mbn/imu</topic><queue_size>10</queue_size></port>
        <port><name>log</name><topic>mbn/log</topic><queue_size>10</queue_size></port>
      </plugin>
    </gazebo>
  </xacro:macro>
</robot>
