<?xml version="1.0"?>

<robot
xmlns:xacro="http://ros.org/wiki/xacro"
>

  <!-- Quadrotor Pose Estimation Plugin -->
  <xacro:macro name="quadrotor_rtt_pose_estimation">
    <gazebo>
      <plugin name="quadrotor_rtt_pose_estimation" filename="libgazebo_rtt_plugin.so">
        <updateRate>100.0</updateRate>
        <import>rtt_hector_pose_estimation</import>
        <component>hector_pose_estimation::PoseEstimationTaskContext</component>

        <port><name>raw_imu</name><queue_size>10</queue_size></port>
        <port><name>magnetic</name></port>
        <port><name>pressure_height</name></port>
        <port><name>fix</name></port>
        <port><name>fix_velocity</name></port>
        <port><name>state</name><queue_size>10</queue_size></port>
        <port><name>imu</name><queue_size>10</queue_size></port>

        <port><name>syscommand</name><queue_size>1</queue_size></port>
      </plugin>
    </gazebo>
  </xacro:macro>
</robot>
