<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Quadrotor Aerodynamics Plugin -->
  <xacro:macro name="quadrotor_aerodynamics">
    <gazebo>
      <plugin name="quadrotor_aerodynamics" filename="libhector_gazebo_quadrotor_aerodynamics.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>0.0</updateRate>
        <bodyName>base_link</bodyName>
        <frameId>$(arg base_link_frame)</frameId>
      </plugin>
    </gazebo>
  </xacro:macro>

</robot>

