<class_libraries>
  <library path="lib/libhector_quadrotor_pose_controller">
    <class name="hector_quadrotor_controller/PoseController" type="hector_quadrotor_controller::PoseController" base_class_type="controller_interface::ControllerBase">
    <description>
      The PoseController controls the quadrotor's pose and outputs velocity commands.
    </description>
    </class>
  </library>
  <library path="lib/libhector_quadrotor_twist_controller">
    <class name="hector_quadrotor_controller/TwistController" type="hector_quadrotor_controller::TwistController" base_class_type="controller_interface::ControllerBase">
    <description>
      The TwistController controls the quadrotor's twist (linear and angular velocity) by applying torque and thrust similar to a real quadrotor.
    </description>
    </class>
  </library>
  <library path="lib/libhector_quadrotor_motor_controller">
    <class name="hector_quadrotor_controller/MotorController" type="hector_quadrotor_controller::MotorController" base_class_type="controller_interface::ControllerBase">
    <description>
      The MotorController calculates the output voltages of the four motors from the commanded thrust and torque using a simple linearized model.
    </description>
    </class>
  </library>
</class_libraries>
